<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="http://020.liyingkeji.com/web/resource/js/lib/jquery-1.11.1.min.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <title>万汇城 首页</title>
</head>
<body>
<form name="login" method="get" action="">
<input id="phone" type="text" name="phone" value="13800138000" />
<input id='btn' type="button" value="button" />

</form>

</body>
<script type="text/javascript">
	$("#btn").click(function() {
		window.location.href = "{php echo $this->createMobileUrl('phone')}"+"&phone="+$("#phone").val();
	});
  /*
   * 注意：
   * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
   * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
   * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
   *
   * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
   * 邮箱地址：weixin-open@qq.com
   * 邮件主题：【微信JS-SDK反馈】具体问题
   * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
   */
  wx.config({
    debug: true,
    appId: '<?php echo $signPackage["appId"];?>',
    timestamp: <?php echo $signPackage["timestamp"];?>,
    nonceStr: '<?php echo $signPackage["nonceStr"];?>',
    signature: '<?php echo $signPackage["signature"];?>',
    jsApiList: [
      'checkJsApi',
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'onMenuShareQQ',
      'onMenuShareWeibo',
      'onMenuShareQZone',
      'hideMenuItems',
      'showMenuItems',
      'hideAllNonBaseMenuItem',
      'showAllNonBaseMenuItem',
      'translateVoice',
      'startRecord',
      'stopRecord',
      'onVoiceRecordEnd',
      'playVoice',
      'onVoicePlayEnd',
      'pauseVoice',
      'stopVoice',
      'uploadVoice',
      'downloadVoice',
      'chooseImage',
      'previewImage',
      'uploadImage',
      'downloadImage',
      'getNetworkType',
      'openLocation',
      'getLocation',
      'hideOptionMenu',
      'showOptionMenu',
      'closeWindow',
      'scanQRCode',
      'chooseWXPay',
      'openProductSpecificView',
      'addCard',
      'chooseCard',
      'openCard'
    ]
  });
  wx.ready(function () {
    wx.checkJsApi({
      jsApiList: [
        'getNetworkType',
        'previewImage'
      ],
      success: function (res) {
        /*alert(JSON.stringify(res));*/
      }
    });
    wx.onMenuShareAppMessage({
      title: "<?php echo $shareAppMessage['title']; ?>",
      desc: "<?php echo $shareAppMessage['desc']; ?>",
      link: "<?php echo $shareAppMessage['link']; ?>",
      imgUrl: "<?php echo $shareAppMessage['imgUrl']; ?>",
      trigger: function (res) {
        /*alert("点击了");*/
      },
      success: function (res) {
        /*alert("分享了");*/
      },
      cancel: function (res) {
        /*alert("取消了");*/
      },
      fail: function (res) {
        /*alert("失败了");*/
      }
    });
    wx.onMenuShareTimeline({
      title: "<?php echo $ShareTimeline['title']; ?>",
      link: "<?php echo $ShareTimeline['link']; ?>",
      imgUrl: "<?php echo $ShareTimeline['imgUrl']; ?>",
      trigger: function (res) {
        // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
      },
      success: function (res) {
        /*alert('已分享');*/
      },
      cancel: function (res) {
        /*alert('已取消');*/
      },
      fail: function (res) {
        /*alert(JSON.stringify(res));*/
      }
    });
  });
</script>
</html>
